<section id="projects">
  <div class="container">
    <h3>Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-code"></i>&nbsp;&nbsp;<strong><a>Coding</a></strong>
          - Once in a while I do coding challenges, sometime to learn and other times for fun. If I still have the time
          to polish the code a bit, I upload them on <a href="https://github.com/keivanzavari/math_coding_problems">this
            repository</a>.
        </h5>
        <h5>


          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a>Latex</a></strong>
          - A few years ago I gave two trainings on Latex. Here you find more detail:
          <ui>
            <li> <a href="/latex/simple_intro_latex.pdf">Making documents</a> and <a href="latex/article_template.zip">
                a zip file as an example </a> </li>
            <li> <a href="latex/simple_intro_presentation.pdf">Making presentations </a> and <a
                href="latex/presentation_template.zip">a zip file as an example</a> </li>
          </ui>
        </h5>

        <h5>
          <i class="fa fa-university"></i>&nbsp;&nbsp;<strong><a>Academia</a></strong>
          - Most of my published articles are accesible through <a
            href="https://lirias.kuleuven.be/handle/123456789/6814/items-by-author?author=Zavari%2C+Keivan%3B+U0065837">
            lirias KULeven website </a>.
        </h5>
        <h5>
          <i class="fa fa-camera-retro"></i>&nbsp;&nbsp;<strong><a>Photography</a></strong>
          - I have been an enthousiast photographer for a few years now.
          Sometimes I share the photos on <a href="https://500px.com/p/KeivanZavari">my photoblog</a>.
        </h5>
      </div>
    </div>
  </div>
</section>
