<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>
        <i class="fa fa-code"></i>&nbsp;&nbsp;<strong><a href="#">Coding</a></strong>
        - A while ago I started doing some coding challenges. Some were to learn and some for fun. I usually tend to upload them on <a href="https://github.com/keivanzavari/math_coding_problems">this repository</a>.
      </h5>
      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Simple TCP connection</a></strong>
        - I had a day to figure out if a given robot was fast enough reacting to external commands. So I made this <a href="https://github.com/keivanzavari/server_client">simple server client communication</a> in Python. Feel free to use it.
      </h5>
      <h5>
        <i class="fa fa-university"></i>&nbsp;&nbsp;<strong><a href="#">Academia</a></strong>
        - Most of my published articles are accesible through <a href="https://lirias.kuleuven.be/handle/123456789/6814/items-by-author?author=Zavari%2C+Keivan%3B+U0065837"> lirias KULeven website </a>. 
      </h5><h5>
        <i class="fa fa-camera-retro"></i>&nbsp;&nbsp;<strong><a href="#">Photography</a></strong>
        - I have been an enthousiast photographer for a few years now. 
        Sometimes I share the photos on <a href="https://keivanzavari.blogspot.com">my photoblog</a>.
      </h5>
    </div>
  </div>
</div>
</section>
